<div id="title_image"><%= image_tag "title.png" %></div>

<div id="main">
  <div id="main_image"></div>
</div>

<div id="bottom_image"><%= image_tag "board_close_bg.png" %></div>

<div id="send"><%= render 'form' %>
  <a href="#" onclick="show_div('comments'); return false;">댓글 보기</a>

<div id="comments" >
  <table>
    <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.data %></td>
          <td><%= comment.location %></td>
          <td><%= link_to '공감하기', comment_path(id:comment.id, page:params[:page]), method: :put %></td>
        </tr>
    <% end %>
  </table>
  <center><%= paginate @comments %></center>
</div>
</div>


<script type="text/javascript">
    function show_div(comments){
        var objDiv = document.getElementById(comments);

        if(objDiv.style.display=="block"){ objDiv.style.display = "none"; }
        else{ objDiv.style.display = "block"; }
    }
</script>